/*****BASESTYLES*****/
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 75px;
  color:black;
}
h4 {
  font-size: 25px;
  color:red;
  text-transform: uppercase;
}
input {
  border:none;
  border-bottom: 1px solid black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 24px;
  outline:none;
}
/*****GRID*****/
.full-width {
  width:1200px;
  margin: 0 100px;
  float:left;
  text-align: center;
}
.half-width {
  width:600px;
  float:left;
  height: auto;
}
.third-width {
  width:300px;

}

/*****HEADER*****/
nav {
    float: right;
    padding: 0px 40px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding-left: 40px;
}
<style>
a:link {
  color:black;
  background-color:transparent;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:hover {
  color: red;
  text-decoration:line-through;
}
</style>

/*****INPUT*****/
