/*****BASE STYLES*****/
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  h3 {
    font-size: 75px;
    color:black;
  }
  h4 {
    font-size: 25px;
    color:red;
    text-transform: uppercase;
  }
span {
  color: pink;
  font-size: 28px;
}
/*****GRID*****/
  .full-width {
    width:1200px;
    margin: 0 auto;
  }
  .half-width {
    width:600px;
    float:left;
  }
  .third-width {
    width:300px;
    float:left;
  }
/*****NAV*****/
nav {
    float: right;
    padding: 0px 40px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding-left: 40px;
}
<style>
a:link {
  color:black;
  background-color:transparent;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:hover {
  color: red;
  text-decoration:line-through;
}
</style>
